/projects/atomistic/GO-MACE-23/models/fitting/potential/iter-10/structures/iter-10-train.xyz filter=lfs diff=lfs merge=lfs -text
/projects/atomistic/GO-MACE-23/models/fitting/potential/iter-11/structures/iter-11-train.xyz filter=lfs diff=lfs merge=lfs -text
/projects/atomistic/GO-MACE-23/models/fitting/potential/iter-12-clean/structures/iter-12-train-filtered.xyz filter=lfs diff=lfs merge=lfs -text
/projects/atomistic/GO-MACE-23/models/fitting/potential/iter-12-clean/structures/iter-12-train.xyz filter=lfs diff=lfs merge=lfs -text
/projects/atomistic/GO-MACE-23/models/fitting/potential/iter-12-not-filtered/structures/iter-12-train.xyz filter=lfs diff=lfs merge=lfs -text
/projects/atomistic/GO-MACE-23/models/fitting/potential/iter-6/structures/iter-6-train.xyz filter=lfs diff=lfs merge=lfs -text
/projects/atomistic/GO-MACE-23/models/fitting/potential/iter-7/structures/iter-7-train.xyz filter=lfs diff=lfs merge=lfs -text
/projects/atomistic/GO-MACE-23/models/fitting/potential/iter-8/structures/iter-8-train.xyz filter=lfs diff=lfs merge=lfs -text
/projects/atomistic/GO-MACE-23/models/fitting/potential/iter-9/structures/iter-9-train.xyz filter=lfs diff=lfs merge=lfs -text
/datasets/aunp-text-mined/aunp-synthesis_dataset_2021-9-14.json filter=lfs diff=lfs merge=lfs -text
/datasets/nanocrystal-synthesis-db/dataset.json filter=lfs diff=lfs merge=lfs -text
/datasets/nanocrystal-synthesis-db/dataset_low_conf_skip-clean.json filter=lfs diff=lfs merge=lfs -text
/datasets/xrd-ceo2-calibration/dark_after_000413.ge3 filter=lfs diff=lfs merge=lfs -text
